.ff-body {
    font-family: "Poppins", sans-serif;
}

.ff-title {
    font-family: "Shojumaru", sans-serif;
}

.ff-subtitle {
    font-family: "RoundyRainbows", sans-serif;
}

main {
    font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Shojumaru", sans-serif !important;
}

